@use '@/styles/variables.scss';

.header-bottom {
  // .header-bottom__panel

  .header-bottom__panel {
    grid-template-columns: 1fr auto;

    @media (max-width: 649.98px) {
      width: 100%;

      &.fixed-panel {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px 10px;
        background-color: #fff;
        z-index: 999999;
      }
    }

    @media (max-width: 479.98px) {
      grid-template-columns: 1fr;
    }
  }

  .header-bottom__wrapper.fixed-panel {
    // padding-right: 17px !important;
    min-height: 80px;
  }

  // .header-bottom__left

  .header-bottom__left {
    @media (max-width: 991.98px) {
      height: 45px;
      gap: 15px;
    }

    @media (max-width: 479.98px) {
      width: 100%;
    }
  }

  // .header-bottom__catalog-button

  .header-bottom__catalog-button {
    &.open {
      img {
        &:first-child {
          display: block;
        }

        &:nth-child(2) {
          display: none;
        }
      }
    }

    @media (max-width: 991.98px) {
      padding: 12px 0;
      font-size: 16px;
    }

    @media (max-width: 991.98px) {
      span {
        display: none;
      }

      img {
        margin-right: 0;
      }
    }

    @media (max-width: 479.98px) {
      padding: 12px 0;
    }
  }

  // .header-bottom__catalog-field

  .header-bottom__catalog-field {
    input {
      @media (max-width: 991.98px) {
        padding: 13px 20px;
      }
    }

    button {
      @media (max-width: 991.98px) {
        height: 100%;
        padding: 14px 20px;
        font-size: 14px;
      }

      @media (max-width: 575.92px) {
        padding: 12.5px;

        span {
          display: none;
        }
        svg.icon {
          display: inline-block;
        }
      }
    }
  }

  // .header-bottom__catalog-field-category-list

  .header-bottom__catalog-field-category-list {
    position: absolute;
    left: 10px;
    display: none;
    bottom: -35px;
    align-items: center;
    gap: 10px;
    z-index: 1;

    &.show {
      display: flex;
    }
  }

  // .header-bottom__catalog-field-category-item

  .header-bottom__catalog-field-category-item {
    position: relative;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: variables.$radius;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    overflow: hidden;

    label {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      cursor: pointer;
      padding: 5px 10px;
    }

    input[type='checkbox'] {
      display: none;
    }

    input:not(checked) + label {
      @media (any-hover: hover) {
        &:hover {
          background-color: variables.$accentColor;
          color: #fff;
        }
      }
    }

    input:checked + label {
      background-color: variables.$accentColor;
      color: #fff;
    }

    &.active {
      background-color: variables.$accentColor;
      color: #fff;
    }
  }
}
