@use '@/styles/variables.scss';

.header-bottom {
  // .header-bottom__panel

  .header-bottom__panel {
    @media (max-width: 991.92px) {
      &.fixed-panel {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px 10px;
        z-index: 999999;
        background-color: variables.$mainColor;
      }
    }
  }

  // .header-bottom__catalog-button

  .header-bottom__catalog-button {
    &.open {
      img {
        &:first-child {
          display: block;
        }

        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}
