@use '@/styles/variables.scss';

.header-bottom {
  // .header-bottom__panel

  .header-bottom__panel {
    grid-template-columns: 1fr auto;

    @media (max-width: 649.98px) {
      width: 100%;

      &.fixed-panel {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px 10px;
        background-color: #fff;
        z-index: 999999;
      }
    }

    @media (max-width: 479.98px) {
      grid-template-columns: 1fr;
    }
  }

  // .header-bottom__catalog-button

  .header-bottom__catalog-button {
    &.open {
      img {
        &:first-child {
          display: block;
        }

        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}
