@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.product-list {
  // .product-list__container

  &__container {
  }

  // .product-list__title

  &__title {
  }

  // .product-list__wrapper

  &__wrapper {
    overflow: hidden;
  }

  // .product-list__tabs

  &__tabs {
  }

  // .product-list__caption-list

  &__caption-list {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
    overflow-x: auto;

    @media (max-width: 479.98px) {
      gap: 10px;
    }
  }

  // .product-list__caption

  &__caption {
    text-align: center;
    padding: 15px 20px;
    font-weight: 500;
    border-radius: $radius;
    border: 1px solid #d1d1d1;
    cursor: pointer;

    &.active {
      color: #fff;
      background-color: $hoverAccentColor;
    }
  }

  // .product-list__content

  &__content {
  }

  // .product-list__body

  &__body {
    display: none;

    &.active {
      display: block;
    }
  }

  // .product-list__slider

  &__slider {
    position: relative;
    overflow: hidden;
    padding: 30px;

    .swiper-wrapper {
      display: inline-flex;
    }

    // overflow: hidden;

    @media (max-width: 1399.98px) {
      padding: 15px;
    }
  }

  // .product-list__slider-buttons

  &__slider-buttons {
    position: absolute;
    top: 60%;
    left: 5px;
    right: 5px;
    transform: translateY(-50%);
  }

  // .product-list__slider-button

  &__slider-button {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $accentColor;
    transition: background-color 0.3s ease 0s;
    padding: 10px;
    margin: -10px;

    &.swiper-button-disabled {
      background-color: $grayColor;

      @media (any-hover: hover) {
        &:hover {
          background-color: $grayColor;
        }
      }
    }

    svg {
      width: 15px;
      height: 15px;
      transition: fill 0.3s ease 0s;
      user-select: none;
      pointer-events: none;
      fill: #fff;
    }

    svg.icon-fly {
      opacity: 0;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $hoverAccentColor;
      }
    }
  }

  // .product-list__slider-button--prev

  &__slider-button--prev {
    left: 15px;
    svg {
      transform: rotate(90deg);
    }

    @media (max-width: 1399.98px) {
      left: 5px;
    }

    @media (max-width: 479.98px) {
      left: 5px;
    }
  }

  // .product-list__slider-button--next

  &__slider-button--next {
    right: 15px;
    svg {
      transform: rotate(-90deg);
    }
    @media (max-width: 1399.98px) {
      right: 5px;
    }
    @media (max-width: 479.98px) {
      right: 5px;
    }
  }

  // .product-list__list

  &__list {
  }

  // .product-list__item

  &__item {
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    &.swiper-slide-visible {
      opacity: 1;
    }
  }

  // .product-list__footnote

  &__footnote {
    position: relative;
    font-size: 14px;
    padding-left: 10px;
    line-height: 120%;

    &::before {
      content: '';
      position: absolute;
      top: -5px;
      left: -5px;
      width: 10px;
      height: 10px;
      background: url('/img/icons/st.svg') center / cover no-repeat;
    }
  }
}
