@use './variables.scss';

.link-hover {
  transition: color variables.$transition;

  svg {
    transition: fill variables.$transition;
  }
  @media (any-hover: hover) {
    &:hover {
      color: variables.$hoverAccentColor;

      svg {
        fill: variables.$hoverAccentColor;
      }
    }
  }
}

.hidden-item {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.3s ease 0s,
    opacity 0.3s ease 0s;
}

.window-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  margin: -10px;
  background: transparent;
  z-index: 8;
  svg {
    width: 20px;
    height: 20px;
    fill: variables.$mainColor;
    transition: fill 0.3s ease 0s;
  }

  @media (any-hover: hover) {
    &:hover {
      fill: variables.$hoverAccentColor;
    }
  }
}

.section-offset {
  padding: 50px 0;

  @media (max-width: 767.98px) {
    padding: 30px 0;
  }
}

.section-title {
  color: variables.$mainColor;
  font-size: clamp(1.5rem, 1.2363rem + 0.8791vw, 2rem);
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 30px;

  &--white {
    color: #fff;
  }
}

.category-title {
  font-size: clamp(1.375rem, 1.132rem + 1.215vw, 2.1875rem);
}

.scroll-bar {
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #e0e0e0;
  }
  &::-webkit-scrollbar-thumb {
    background: variables.$accentColor;
    // border-radius: 5px;
  }

  &--mini {
    &::-webkit-scrollbar {
      width: 3px;
    }
  }
}

.scroll-bar-row {
  &::-webkit-scrollbar {
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #e0e0e0;
  }
  &::-webkit-scrollbar-thumb {
    background: variables.$accentColor;
    // border-radius: 5px;
  }

  &--mini {
    &::-webkit-scrollbar {
      height: 4px;
    }
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: variables.$accentColor;
  transition: all 0.3s ease 0s;
  border-radius: 2.25rem;

  @media (any-hover: hover) {
    &:hover {
      background-color: variables.$hoverAccentColor;
    }
  }
}

.ttall {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.showing {
  visibility: visible !important;
  opacity: 1 !important;
}

.load {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: -25%;
    left: -25%;
    width: 150%;
    height: 200%;
    backdrop-filter: blur(1px);
    z-index: 9998;
  }

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: url('/img/icons/spinner.svg') center / 50px no-repeat;
    width: 50px;
    height: 50px;
    filter: blur(0);
  }

  &--mini {
    &::before {
      content: '';
      width: 35px;
      height: 35px;
      background: url('/img/icons/spinner.svg') center / 35px no-repeat;
    }
  }
}

._show {
  display: block;
}

.show {
  visibility: visible;
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header_hidden {
  transform: translateY(-100%);
}

.header.header_hidden {
  transform: translateY(-100%);
  .header-body {
    padding: 15px 0;
  }
}

.header-bottom.header_fixed {
  @media (min-width: 479.98px) {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    animation: fadeIn 0.1s ease-in;

    // &.compensate {
    //   left: calc(50% - 10px);
    // }

    .header-bottom__wrapper {
      padding: 10px;
      // max-width: variables.$maxWidthContainer + px;
      background-color: #fff;
      box-shadow: variables.$shadow;
      width: 100%;
      margin: 0px auto;
    }

    .catalog-menu {
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      top: 75px;

      @media (max-width: 991.98px) {
        position: fixed;
        min-width: 100vw;
        height: 100vh;
        overflow: auto;
        top: 0;
        left: 0;
        width: 100%;
        transform: translate(0, 0);
      }
    }
  }
}

.added {
  span {
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }
}

.cart {
  // .cart__item-count

  &__item-count {
    &:disabled {
      cursor: default;
      background-color: #d3d3d3;

      svg {
        fill: #9f9f9f;
      }
    }

    svg {
      width: 16px;
      height: 16px;
      fill: variables.$accentColor;
      transition: fill variables.$transition;
    }

    @media (any-hover: hover) {
      &:hover {
        &:not(:disabled) {
          color: #fff;
          background-color: variables.$hoverAccentColor;
          svg {
            fill: #fff;
          }
        }
      }
    }
  }
}

.flex-0-auto {
  flex: 0 0 auto;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
}
