@use '@/styles/variables.scss';

.product-card {
  // .product-card__descr-item

  &__descr-item {
    border-bottom: 1px solid variables.$grayColor;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  // .product-card__price

  &__price {
    &--discount {
      color: variables.$accentColor;
    }

    &::before {
      content: '';
      position: absolute;
      top: -5px;
      right: -5px;
      width: 10px;
      height: 10px;
      background: url('/img/icons/st.svg') center / cover no-repeat;
    }
  }

  // .product-card__availability

  &__availability {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-size: 14px;
    color: #272b2c;

    img {
      width: 18px;
      height: 18px;
    }
  }

  // .product-card__counter

  &__counter {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  // .product-card__count

  &__count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    background: #f5f5f5;

    svg {
      width: 12px;
      height: 12px;
      fill: variables.$accentColor;
      transition: fill 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        fill: variables.$hoverAccentColor;
      }
    }
  }

  // .product-card__count-value

  &__count-value {
    font-weight: 700;
  }

  // .product-card__click

  // .product-card__compar

  &__compare {
    &.added {
      svg {
        fill: variables.$successColor;
      }

      @media (any-hover: hover) {
        &:hover {
          svg {
            fill: variables.$successColor;
          }
        }
      }
    }
    svg {
      width: 30px;
      height: 30px;
      fill: variables.$accentColor;
      transition: fill 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        svg {
          fill: variables.$hoverAccentColor;
        }
      }
    }

    &.selected {
      fill: variables.$warnColor;
    }
  }

  // .product-card__favorite

  &__favorite {
    &.added {
      svg {
        fill: variables.$warnColor;
      }

      @media (any-hover: hover) {
        &:hover {
          svg {
            fill: variables.$warnColor;
          }
        }
      }
    }

    @media (any-hover: hover) {
      &:hover {
        svg {
          fill: variables.$hoverAccentColor;
        }
      }
    }

    &.selected {
      fill: variables.$warnColor;
    }
  }

  // .product-card__button

  &__button {
    position: relative;
    gap: 10px;
    padding: 10px 20px;
    font-weight: 700;
    svg {
      width: 30px;
      height: 30px;
      fill: #fff;

      &.mini {
        width: 20px;
        height: 20px;
      }
    }

    &.added {
      span {
        visibility: visible;
        opacity: 1;
        z-index: 1;
      }
    }
  }
}

// .product-card-dropdown

.product-card-dropdown {
  &.show {
    .product-card-dropdown__list {
      visibility: visible;
      opacity: 1;
    }

    img {
      transform: rotate(90deg);
    }
  }

  // .product-card-dropdown__item

  &__item {
    label {
      position: relative;
      display: block;
      padding: 10px 40px;
      cursor: pointer;

      &.selected {
        background-color: variables.$hoverAccentColor;
        color: #fff;
        &::before {
          content: '';
          position: absolute;
          right: 5px;
          top: 50%;
          transform: translateY(-50%);
          background: url('/img/icons/availability.svg') center / cover
            no-repeat;
          width: 15px;
          height: 14px;
        }
      }
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ label {
        background-position: 0 0;
        color: #fff;
        background-color: variables.$accentColor;
      }
    }
  }
}
