@use '@/styles/variables.scss';

.product-card {
  // .product-card__favorite

  &__favorite {
    &.added {
      svg {
        fill: variables.$warnColor;
      }

      @media (any-hover: hover) {
        &:hover {
          svg {
            fill: variables.$warnColor;
          }
        }
      }
    }

    @media (any-hover: hover) {
      &:hover {
        svg {
          fill: variables.$hoverAccentColor;
        }
      }
    }

    &.selected {
      fill: variables.$warnColor;
    }
  }

  // .product-card__button

  .product-card__button {
    svg {
      &.grid-view {
        width: 20px;
        height: 20px;
      }
    }
  }
}

// .product-card-dropdown

.product-card-dropdown {
  &.show {
    .product-card-dropdown__list {
      visibility: visible;
      opacity: 1;
    }

    img {
      transform: rotate(90deg);
    }
  }

  // .product-card-dropdown__item

  &__item {
    label {
      position: relative;
      display: block;
      padding: 10px 40px;
      cursor: pointer;

      &.selected {
        background-color: variables.$hoverAccentColor;
        color: #fff;
        &::before {
          content: '';
          position: absolute;
          right: 5px;
          top: 50%;
          transform: translateY(-50%);
          background: url('/img/icons/availability.svg') center / cover
            no-repeat;
          width: 15px;
          height: 14px;
        }
      }
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ label {
        background-position: 0 0;
        color: #fff;
        background-color: variables.$accentColor;
      }
    }
  }
}
