@use '@/styles/variables.scss';

.catalog-main {
  // .catalog-main__category

  &__category {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  // .catalog-main__category-list

  .catalog-main__category-list {
    @media (max-width: 991.98px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 767.98px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 479.98px) {
      gap: 10px;
    }

    @media (max-width: 374.98px) {
      grid-template-columns: 1fr;
    }
  }

  // .catalog-main__category-link

  .catalog-main__category-link {
    @media (any-hover: hover) {
      &:hover {
        background-color: variables.$accentColor;
        color: #fff;
      }
    }

    @media (max-width: 479.98px) {
      padding: 20px 10px;
    }
  }

  // .catalog-main__category-link-image

  .catalog-main__category-link-image {
    @media (max-width: 479.98px) {
      max-width: 130px;
      max-height: 130px;
    }
  }
}
