@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.header .catalog-menu {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  @media (max-width: 991.98px) {
    // overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overscroll-behavior: contain;
  }
}

.catalog-menu {
  // .catalog-menu__close

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    margin: -5px;
    z-index: 10;
    svg.icon-close {
      width: 30px;
      height: 30px;
      fill: $mainColor;
      cursor: pointer;
    }

    @media (max-width: 649.98px) {
      display: none;
    }
  }

  // .catalog-menu__body

  .catalog-menu__body {
    grid-template-columns: 25% calc(75% - 20px);

    @media (max-width: 1399.98px) {
      grid-template-columns: 30% calc(70% - 20px);
    }

    @media (max-width: 991.98px) {
      grid-template-columns: 40% calc(60% - 20px);
      min-height: 100vh;
    }

    @media (max-width: 767.98px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 649.98px) {
      grid-template-columns: 1fr;
      overflow-y: auto;
      height: 100%;
    }

    @media (max-width: 479.98px) {
      padding-bottom: 50px;
    }
  }

  // .catalog-menu__category-list

  .catalog-menu__category-list {
    @media (max-width: 1199.98px) {
      padding: 40px 20px 30px;
    }

    @media (max-width: 991.98px) {
      background-color: #dfefff;
    }

    @media (max-width: 649.98px) {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
      padding: 80px 20px 20px;
    }
  }

  // .catalog-menu__link

  .catalog-menu__link {
    @media (min-width: 649.98px) {
      margin-bottom: 10px;
    }
    @media (max-width: 649.98px) {
      padding: 15px 10px;
      display: inline-flex;
      max-width: 190px;
    }

    @media (max-width: 479.98px) {
      font-size: 14px;

      img {
        width: 20px;
        height: 20px;
      }

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  // .catalog-menu__category-item

  .catalog-menu__category-item {
    &:not(:last-child) {
      margin-bottom: 10px;

      @media (max-width: 649.98px) {
        margin-bottom: 0;
      }
    }

    @media (max-width: 649.98px) {
      width: 100%;
      img {
        width: 35px;
        height: 35px;
      }
    }

    &.hidden-block {
      @media (max-width: 650px) {
        display: none;
      }
    }

    &.active {
      background-color: #fff;
      box-shadow: $shadow;
      border-bottom: 1px solid $hoverAccentColor;

      .catalog-menu__category-item-button {
        background-color: $hoverAccentColor;
      }

      @media (max-width: 649.98px) {
        outline: none;
        svg {
          transform: rotate(90deg);
        }
      }
    }

    @media (max-width: 649.98px) {
      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  // .catalog-menu__category-item-button

  .catalog-menu__category-item-button {
    @media (max-width: 649.98px) {
      padding: 20px 10px;
    }
  }

  // .catalog-menu__category-item-row
  // ??????????????
  .catalog-menu__category-item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-left: 10px;
    border-radius: $radius;
    cursor: pointer;
    background-color: #f8f8f8;
    transition: background-color 0.3s ease 0s;
    line-height: 120%;

    @media (any-hover: hover) {
      &:hover {
        background-color: #fcfcfc;
      }
    }

    button {
    }

    a {
      font-weight: 500;
      text-decoration: underline;
    }

    @media (max-width: 991.98px) {
      gap: 10px;
    }

    @media (max-width: 649.98px) {
      margin-bottom: 10px;
    }

    @media (max-width: 575.92px) {
      margin-bottom: 10px;

      svg {
        transform: rotate(0deg);
      }
    }
  }

  // .catalog-menu__category-item-link
  /// ???????????
  .catalog-menu__category-item-link {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    font-weight: 500;

    picture {
      display: inline-block;
      width: 70px;
      height: 70px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  // .catalog-menu__category-content

  .catalog-menu__category-content {
    @media (max-width: 649.98px) {
      padding: 0;
      display: none;
    }

    @media (max-width: 650px) {
      display: block;
    }
  }

  // .catalog-menu__category-body

  .catalog-menu__category-body {
    @media (max-width: 991.98px) {
      grid-template-columns: 1fr;
      overflow-y: auto;
      max-height: calc(100vh - 70px);
      border-bottom: 1px solid $grayColor;
      padding-bottom: 10px;
    }

    &.active {
      display: grid;
      animation: fadeIn 0.2s ease-in;
      visibility: visible;
      opacity: 1;
    }
  }

  // .catalog-menu__category-child-list

  .catalog-menu__category-child-list {
    @media (max-width: 991.98px) {
      justify-content: flex-start;
      align-items: flex-start;
      height: auto;
    }
    @media (max-width: 649.98px) {
      background-color: #fff;
      padding-left: 15px;
    }
  }

  // .catalog-menu__category-child-item

  .catalog-menu__category-child-item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }

    @media (max-width: 991.98px) {
      font-size: 14px;
    }

    @media (max-width: 575.92px) {
      box-shadow: none;
    }
  }

  // .catalog-menu__category-child-link

  .catalog-menu__category-child-link {
    text-decoration: underline !important;

    @media (max-width: 991.98px) {
      padding: 10px 5px 10px 10px;
    }
  }

  // .catalog-menu__category-child-item-row
  // ??????
  .catalog-menu__category-child-item-row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    gap: 20px;
    background-color: #fff;
    box-shadow: $shadow;
    border-radius: $radius;
    padding-left: 10px;
    cursor: pointer;
    font-weight: 500;

    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background-color: $hoverAccentColor;
    }

    svg {
      fill: #fff;
      width: 20px;
      height: 20px;
    }
  }

  // .catalog-menu__category-child-drop
  // ?????
  .catalog-menu__category-child-drop {
    display: none;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    box-shadow: $shadow;
    border-radius: $radius;
    z-index: 1;

    &.show {
      display: block;
    }
  }

  // .catalog-menu__category-child-drop-item
  // ????
  .catalog-menu__category-child-drop-item {
    padding: 5px 0;
    font-size: 14px;
    a {
      text-decoration: underline;
    }
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  // .catalog-menu__bottom

  .catalog-menu__bottom {
    @media (max-width: 649.98px) {
      display: block;
      padding: 30px 20px;
    }
  }

  // .catalog-menu__bottom-list

  .catalog-menu__bottom-list {
    border-top: 1px solid rgb(205, 207, 216);
    border-bottom: 1px solid rgb(205, 207, 216);

    @media (max-width: 649.98px) {
      padding: 40px 0;
    }

    @media (max-width: 479.98px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
