@use '@/styles/variables.scss';

.catalog-menu {
  // .catalog-menu__category-item

  .catalog-menu__category-item {
    &:not(:last-child) {
      margin-bottom: 10px;

      @media (max-width: 649.98px) {
        margin-bottom: 0;
      }
    }

    @media (max-width: 649.98px) {
      width: 100%;
      img {
        width: 35px;
        height: 35px;
      }
    }

    @media (max-width: 479.98px) {
      img {
        width: 25px;
        height: 25px;
      }
    }

    &.hidden-block {
      @media (max-width: 650px) {
        display: none;
      }
    }

    &.active {
      background-color: #fff;
      box-shadow: variables.$shadow;
      border-bottom: 1px solid variables.$hoverAccentColor;

      .catalog-menu__category-item-button {
        background-color: variables.$hoverAccentColor;
      }

      @media (max-width: 649.98px) {
        outline: none;
        svg {
          transform: rotate(90deg);
        }
      }
    }

    @media (max-width: 649.98px) {
      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  // .catalog-menu__category-body

  .catalog-menu__category-body {
    &.active {
      display: grid;
      animation: fadeIn 0.2s ease-in;
      visibility: visible;
      opacity: 1;
    }
  }
}
