@use '@/styles/variables.scss';

.product-page-benefits {
  // .product-page-benefits__container

  &__container {
  }

  // .product-page-benefits__list

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-around;
    padding: 20px 0;
    border-top: 1px solid variables.$grayColor;
    border-bottom: 1px solid variables.$grayColor;

    @media (max-width: 991.98px) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  // .product-page-benefits__item

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;

    img {
      width: 40px;
      height: 40px;
    }

    @media (max-width: 991.98px) {
      font-size: 16px;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
