<div class="filters-result">
	<div class="filter-item filter-list ng-star-inserted">
		<div class="scroll-panel"><a class="filter-list-item ng-star-inserted"
				href="/assortment/category/akkumulyatory-3270">
				<div class="filter-list-item__title"><i class="sproit-icon__chevron-left ng-star-inserted"></i>
					<p class="font__body2">Аккумуляторы</p>
				</div>
			</a>
			<div class="filter-list-wrap ng-star-inserted"><a class="filter-list-item ng-star-inserted"
					href="/assortment/category/akkumulyatory-3271">
					<div class="filter-list-item__title"><i class="sproit-icon__chevron-left ng-star-inserted"></i>
						<p class="font__body2">Аккумуляторы автомобильные</p>
					</div>
				</a>
				<div class="filter-list-wrap ng-star-inserted"><a class="filter-list-item last ng-star-inserted selected"
						href="/assortment/category/akkumulyatory-dlya-gruzovyh-avtomobiley-3273">
						<div class="filter-list-item__title">
							<p class="font__body2">Аккумуляторы для грузовых автомобилей</p>
						</div>
					</a>
					<div class="filter-list-wrap ng-star-inserted"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="filter-item filter-interval ng-star-inserted">
		<div class="filter-item__title ng-star-inserted">
			<p class="font__subtitle2">Цена</p>
		</div><mat-slider
			class="mat-mdc-slider mdc-slider filter-interval__input mat-primary sproit-ui-slider primary mdc-slider--range"><input
				type="range" class="mdc-slider__input ng-untouched ng-pristine ng-valid" step="0" min="931" max="269454"
				aria-valuetext="931" style="width: 152px; padding: 0px; left: -24px; right: auto;"><input type="range"
				matsliderendthumb="" class="mdc-slider__input ng-untouched ng-pristine ng-valid mat-slider__right-input"
				step="0" min="931" max="269454" aria-valuetext="269454"
				style="width: 152px; padding: 0px; left: auto; right: -24px;">
			<div class="mdc-slider__track">
				<div class="mdc-slider__track--inactive"></div>
				<div class="mdc-slider__track--active">
					<div class="mdc-slider__track--active_fill"
						style="left: auto; right: 0px; transform-origin: right center; transform: scaleX(1);"></div>
				</div>
			</div><mat-slider-visual-thumb class="mdc-slider__thumb mat-mdc-slider-visual-thumb ng-star-inserted"
				style="transform: translateX(0px);">
				<div class="mdc-slider__thumb-knob"></div>
				<div matripple="" class="mat-ripple mat-mdc-focus-indicator"></div>
			</mat-slider-visual-thumb><mat-slider-visual-thumb class="mdc-slider__thumb mat-mdc-slider-visual-thumb"
				style="transform: translateX(256px);">
				<div class="mdc-slider__thumb-knob"></div>
				<div matripple="" class="mat-ripple mat-mdc-focus-indicator"></div>
			</mat-slider-visual-thumb>
		</mat-slider>
		<div class="input-wrap"><sproit-ui-input size="sm" type="number" class="ng-untouched ng-valid ng-dirty">
				<div class="sproit-ui-input__wrapper">
					<div
						class="sproit-ui-input__container sproit-ui-input-size-sm sproit-ui-input-type-number sproit-ui-input-color-gray editable touched">
						<input tabindex="0" placeholder="" id="df052066ddd78" min="null" max="null" step="1" autocomplete="off"
							type="number" inputmode="text"
							class="sproit-ui-input__input with-float-label font__caption1 ng-star-inserted">
						<div class="sproit-ui-input__right-icon ng-star-inserted"></div>
						<div class="sproit-ui-input__float-container animate__fadeInDown ng-star-inserted">
							<span class="sproit-ui-input__float-label font__overline1"> от </span>
						</div>
					</div>
				</div>
			</sproit-ui-input><sproit-ui-input size="sm" type="number" class="ng-untouched ng-valid ng-dirty">
				<div class="sproit-ui-input__wrapper">
					<div
						class="sproit-ui-input__container sproit-ui-input-size-sm sproit-ui-input-type-number sproit-ui-input-color-gray editable touched">
						<input tabindex="0" placeholder="" id="dfb1cfdf27379" min="null" max="null" step="1" autocomplete="off"
							type="number" inputmode="text"
							class="sproit-ui-input__input with-float-label font__caption1 ng-star-inserted">
						<div class="sproit-ui-input__right-icon ng-star-inserted"></div>
						<div class="sproit-ui-input__float-container animate__fadeInDown ng-star-inserted">
							<span class="sproit-ui-input__float-label font__overline1"> до </span>
						</div>
					</div>
				</div>
			</sproit-ui-input></div>
	</div>

	<div class="filter-item filter-checkbox ng-star-inserted">
		<div class="filter-item__title ng-star-inserted">
			<p class="font__subtitle2">Бренды</p>
		</div>
		<div class="BRAND-scroll-wrap scroll-panel ng-star-inserted">
			<div class="filter-item__checkboxes ng-star-inserted"><sproit-ui-checkbox
					class="ng-untouched ng-pristine ng-valid"><mat-checkbox
						class="mat-mdc-checkbox mat-accent sproit-ui-checkbox sproit-ui-size-md sproit-ui-color-primary" id="">
						<div class="mdc-form-field">
							<div class="mdc-checkbox">
								<div class="mat-mdc-checkbox-touch-target"></div><input type="checkbox"
									class="mdc-checkbox__native-control" id="mat-mdc-checkbox-1-input" tabindex="0" name="" value="">
								<div class="mdc-checkbox__ripple"></div>
								<div class="mdc-checkbox__background"><svg focusable="false" viewBox="0 0 24 24" aria-hidden="true"
										class="mdc-checkbox__checkmark">
										<path fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" class="mdc-checkbox__checkmark-path"></path>
									</svg>
									<div class="mdc-checkbox__mixedmark"></div>
								</div>
								<div mat-ripple="" class="mat-ripple mat-mdc-checkbox-ripple mat-mdc-focus-indicator"></div>
							</div><label for="mat-mdc-checkbox-1-input">
								<div>
									<div class="checkbox-data">
										<p class="font__body2 checkbox-name">WEZER</p>
									</div>
								</div>
							</label>
						</div>
					</mat-checkbox></sproit-ui-checkbox></div>


		</div>
		<div class="show-all-checkboxes ng-star-inserted">
			<p class="font__body2">еще 167</p><i class="sproit-icon__expand-more"></i>
		</div>
	</div>
	<div class="filter-item filter-interval ng-star-inserted">
		<div class="filter-item__title ng-star-inserted">
			<p class="font__subtitle2">Емкость аккумулятора, Ач</p>
		</div><mat-slider
			class="mat-mdc-slider mdc-slider filter-interval__input mat-primary sproit-ui-slider primary mdc-slider--range"><input
				type="range" class="mdc-slider__input ng-untouched ng-pristine ng-valid" step="0" min="44" max="240"
				aria-valuetext="44" style="width: 152px; padding: 0px; left: -24px; right: auto;"><input type="range"
				matsliderendthumb="" class="mdc-slider__input ng-untouched ng-pristine ng-valid mat-slider__right-input"
				step="0" min="44" max="240" aria-valuetext="240" style="padding: 0px; left: auto; right: -24px; width: 152px;">
			<div class="mdc-slider__track">
				<div class="mdc-slider__track--inactive"></div>
				<div class="mdc-slider__track--active">
					<div class="mdc-slider__track--active_fill"
						style="left: auto; right: 0px; transform-origin: right center; transform: scaleX(1);"></div>
				</div>
			</div><mat-slider-visual-thumb class="mdc-slider__thumb mat-mdc-slider-visual-thumb ng-star-inserted"
				style="transform: translateX(0px);">
				<div class="mdc-slider__thumb-knob"></div>
				<div matripple="" class="mat-ripple mat-mdc-focus-indicator"></div>
			</mat-slider-visual-thumb><mat-slider-visual-thumb class="mdc-slider__thumb mat-mdc-slider-visual-thumb"
				style="transform: translateX(256px);">
				<div class="mdc-slider__thumb-knob"></div>
				<div matripple="" class="mat-ripple mat-mdc-focus-indicator"></div>
			</mat-slider-visual-thumb>
		</mat-slider>
		<div class="input-wrap"><sproit-ui-input size="sm" type="number" class="ng-untouched ng-valid ng-dirty">
				<div class="sproit-ui-input__wrapper">
					<div
						class="sproit-ui-input__container sproit-ui-input-size-sm sproit-ui-input-type-number sproit-ui-input-color-gray editable touched">
						<input tabindex="0" placeholder="" id="63c0124225dfd" min="null" max="null" step="1" autocomplete="off"
							type="number" inputmode="text" class="sproit-ui-input__input font__caption1 ng-star-inserted">
						<div class="sproit-ui-input__right-icon ng-star-inserted"></div>
					</div>
				</div>
			</sproit-ui-input><sproit-ui-input size="sm" type="number" class="ng-untouched ng-valid ng-dirty">
				<div class="sproit-ui-input__wrapper">
					<div
						class="sproit-ui-input__container sproit-ui-input-size-sm sproit-ui-input-type-number sproit-ui-input-color-gray editable touched">
						<input tabindex="0" placeholder="" id="59e6234e8abaf" min="null" max="null" step="1" autocomplete="off"
							type="number" inputmode="text" class="sproit-ui-input__input font__caption1 ng-star-inserted">
						<div class="sproit-ui-input__right-icon ng-star-inserted"></div>
					</div>
				</div>
			</sproit-ui-input></div>
	</div>

	<div class="filter-item filter-checkbox ng-star-inserted">
		<div class="filter-item__title ng-star-inserted">
			<p class="font__subtitle2">Полярность</p>
		</div>
		<div class="B138-scroll-wrap scroll-panel ng-star-inserted">
			<div class="filter-item__checkboxes ng-star-inserted"><sproit-ui-checkbox
					class="ng-untouched ng-pristine ng-valid"><mat-checkbox
						class="mat-mdc-checkbox mat-accent sproit-ui-checkbox sproit-ui-size-md sproit-ui-color-primary" id="">
						<div class="mdc-form-field">
							<div class="mdc-checkbox">
								<div class="mat-mdc-checkbox-touch-target"></div><input type="checkbox"
									class="mdc-checkbox__native-control" id="mat-mdc-checkbox-11-input" tabindex="0" name="" value="">
								<div class="mdc-checkbox__ripple"></div>
								<div class="mdc-checkbox__background"><svg focusable="false" viewBox="0 0 24 24" aria-hidden="true"
										class="mdc-checkbox__checkmark">
										<path fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" class="mdc-checkbox__checkmark-path"></path>
									</svg>
									<div class="mdc-checkbox__mixedmark"></div>
								</div>
								<div mat-ripple="" class="mat-ripple mat-mdc-checkbox-ripple mat-mdc-focus-indicator"></div>
							</div><label for="mat-mdc-checkbox-11-input">
								<div>
									<div class="checkbox-data">
										<p class="font__body2 checkbox-name">0 (-+) обратная</p>
									</div>
								</div>
							</label>
						</div>
					</mat-checkbox></sproit-ui-checkbox></div>
		</div>
		<div class="show-all-checkboxes ng-star-inserted">
			<p class="font__body2">еще 5</p><i class="sproit-icon__expand-more"></i>
		</div>
	</div>


	<div class="filter-item filter-interval ng-star-inserted">
		<div class="filter-item__title ng-star-inserted">
			<p class="font__subtitle2">Ширина АКБ, мм</p>
		</div><mat-slider
			class="mat-mdc-slider mdc-slider filter-interval__input mat-primary sproit-ui-slider primary mdc-slider--range"><input
				type="range" class="mdc-slider__input ng-untouched ng-pristine ng-valid" step="0" min="90" max="518"
				aria-valuetext="90" style="width: 152px; padding: 0px; left: -24px; right: auto;"><input type="range"
				matsliderendthumb="" class="mdc-slider__input ng-untouched ng-pristine ng-valid mat-slider__right-input"
				step="0" min="90" max="518" aria-valuetext="518" style="padding: 0px; left: auto; right: -24px; width: 152px;">
			<div class="mdc-slider__track">
				<div class="mdc-slider__track--inactive"></div>
				<div class="mdc-slider__track--active">
					<div class="mdc-slider__track--active_fill"
						style="left: auto; right: 0px; transform-origin: right center; transform: scaleX(1);"></div>
				</div>
			</div><mat-slider-visual-thumb class="mdc-slider__thumb mat-mdc-slider-visual-thumb ng-star-inserted"
				style="transform: translateX(0px);">
				<div class="mdc-slider__thumb-knob"></div>
				<div matripple="" class="mat-ripple mat-mdc-focus-indicator"></div>
			</mat-slider-visual-thumb><mat-slider-visual-thumb class="mdc-slider__thumb mat-mdc-slider-visual-thumb"
				style="transform: translateX(256px);">
				<div class="mdc-slider__thumb-knob"></div>
				<div matripple="" class="mat-ripple mat-mdc-focus-indicator"></div>
			</mat-slider-visual-thumb>
		</mat-slider>
		<div class="input-wrap"><sproit-ui-input size="sm" type="number" class="ng-untouched ng-valid ng-dirty">
				<div class="sproit-ui-input__wrapper">
					<div
						class="sproit-ui-input__container sproit-ui-input-size-sm sproit-ui-input-type-number sproit-ui-input-color-gray editable touched">
						<input tabindex="0" placeholder="" id="eba1bc93a8f44" min="null" max="null" step="1" autocomplete="off"
							type="number" inputmode="text" class="sproit-ui-input__input font__caption1 ng-star-inserted">
						<div class="sproit-ui-input__right-icon ng-star-inserted"></div>
					</div>
				</div>
			</sproit-ui-input><sproit-ui-input size="sm" type="number" class="ng-untouched ng-valid ng-dirty">
				<div class="sproit-ui-input__wrapper">
					<div
						class="sproit-ui-input__container sproit-ui-input-size-sm sproit-ui-input-type-number sproit-ui-input-color-gray editable touched">
						<input tabindex="0" placeholder="" id="152bb2ae9e744" min="null" max="null" step="1" autocomplete="off"
							type="number" inputmode="text" class="sproit-ui-input__input font__caption1 ng-star-inserted">
						<div class="sproit-ui-input__right-icon ng-star-inserted"></div>
					</div>
				</div>
			</sproit-ui-input></div>
	</div>



</div>