@use '@/styles/variables.scss';

.side-panel {
  // .side-panel__item

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid #ededed;
    }

    &.current {
      .side-panel__item-bridge {
        display: block;
      }
      .side-panel__drop-list {
        display: flex;
        visibility: visible;
        opacity: 1;
        user-select: auto;
        pointer-events: auto;
      }
      .side-panel__item-link {
        background-color: variables.$accentColor;
        color: #fff;

        svg {
          fill: #fff;
        }
      }
    }

    @media (max-width: 767.98px) {
      flex-direction: column;
      gap: 5px;

      &.current {
        .side-panel__drop-list {
          display: flex;
          height: auto;
        }
      }
    }
  }

  // .side-panel__item-link

  &__item-link {
    @media (any-hover: hover) {
      &:hover {
        svg {
          fill: variables.$hoverAccentColor;
        }
      }
    }
  }

  // .side-panel__drop-item

  &__drop-item {
    @media (any-hover: hover) {
      &:hover {
        background-color: variables.$hoverAccentColor;
        a {
          color: #fff;
        }
      }
    }
  }
}
