@use '@/styles/variables.scss';

.favorite-tabs {
  // .product-list__caption-list

  .product-list__caption-list {
    @media (max-width: 479.98px) {
      gap: 10px;
    }
  }

  // .product-list__caption

  &__caption {
    &.active {
      color: #fff;
      background-color: variables.$hoverAccentColor;
    }
  }
}
