@use '@/styles/variables.scss';

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  inset: 0;
  box-sizing: border-box;
  grid-template-areas:
    'top-start top top-end'
    'center-start center center-end'
    'bottom-start bottom-center bottom-end';
  grid-template-rows:
    minmax(min-content, auto) minmax(min-content, auto)
    minmax(min-content, auto);

  padding: 0.625em;
  transition: background-color 0.1s;
  grid-template-columns: auto minmax(0, 1fr) auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.8);
  will-change: transform, visibility, opacity;

  &__dialog {
    display: grid;
    grid-column: 2;
    grid-template-columns: minmax(0, 100%);
    grid-row: 2;
    place-self: center center;
  }
  &__content {
    position: relative;
    width: 100%;
    transition: transform 0.5s ease 0.1s;
  }
}
