@use '@/styles/variables.scss';

.cart {
  // .cart__title

  .cart__title {
    font-size: clamp(1.375rem, 0.7816rem + 1.978vw, 2.5rem);
  }

  // .cart__back-link

  .cart__back-link {
    @media (any-hover: hover) {
      &:hover {
        color: variables.$hoverAccentColor;

        svg {
          fill: variables.$hoverAccentColor;
        }
      }
    }

    @media (max-width: 479.98px) {
      font-size: 14px;
      gap: 5px;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  // .cart__item

  .cart__item {
    // &--empty {
    //   justify-content: center;
    //   font-size: 26px;
    //   font-weight: 500;
    //   text-align: center;
    //   padding: 50px 0;
    // }

    &:not(:last-child) {
      border-bottom: 1px solid variables.$grayColor;
    }

    @media (max-width: 575.92px) {
      flex-direction: column;
    }

    @media (max-width: 479.98px) {
      padding: 10px 0;
    }
  }

  // .cart__item-image

  .cart__item-image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 767.98px) {
      width: 100px;
      height: 100px;
    }
  }

  // .cart__item-title

  .cart__item-title {
    @media (max-width: 575.92px) {
      font-size: 16px;
    }
  }

  // .cart__item-row

  .cart__item-row {
    &--column {
      flex-direction: column;
    }

    @media (max-width: 767.98px) {
      flex-direction: column;
    }

    @media (max-width: 575.92px) {
      flex-direction: row;
      gap: 40px;
    }

    @media (max-width: 374.98px) {
      gap: 10px;
    }
  }

  // .cart__item-order-button

  .cart__item-order-button {
    position: relative;
    gap: 10px;
    padding: 10px 20px;
    font-weight: 700;

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transform: translate(-50%, -50%);
      background-color: variables.$hoverAccentColor;
      border-radius: variables.$radius;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease 0s;

      img {
        width: 30px;
        height: 30px;
      }
    }
    svg {
      width: 30px;
      height: 30px;
      fill: #fff;
    }

    &.added {
      span {
        visibility: visible;
        opacity: 1;
        z-index: 1;
      }
    }

    &._hold {
      opacity: 0.7;
      cursor: default;
    }
  }

  // .cart__item-counter

  .cart__item-counter {
    @media (max-width: 767.98px) {
      order: 2;
    }
  }

  // .cart__item-count

  &__item-count {
    &:disabled {
      cursor: default;
      background-color: #d3d3d3;

      svg {
        fill: #9f9f9f;
      }
    }

    svg {
      width: 12px;
      height: 12px;
      fill: variables.$accentColor;
      transition: fill variables.$transition;
    }

    @media (any-hover: hover) {
      &:hover {
        &:not(:disabled) {
          color: #fff;
          background-color: variables.$hoverAccentColor;
          svg {
            fill: #fff;
          }
        }
      }
    }
  }

  // .cart__item-right

  .cart__item-right {
    @media (max-width: 767.98px) {
      flex-direction: column;
      align-items: end;
    }

    @media (max-width: 575.92px) {
      flex-direction: row;
      align-items: center;
      order: 2;
    }
  }

  // .cart__item-price

  .cart__item-price {
    span {
      font-weight: 700;
    }

    @media (max-width: 767.98px) {
      order: 2;
    }
  }

  // .cart__item-buttons

  .cart__item-buttons {
    @media (max-width: 767.98px) {
      flex-direction: row;
    }

    @media (max-width: 575.92px) {
      order: 2;
    }
  }

  // .cart__item-button

  &__item-button {
    svg {
      width: 25px;
      height: 25px;
      fill: variables.$mainColor;
      transition: fill 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        svg {
          fill: variables.$hoverAccentColor;
        }
      }
    }
  }

  // .cart__result-out

  .cart__result-out {
    font-size: clamp(1.125rem, 0.9272rem + 0.6593vw, 1.5rem);

    b {
      white-space: nowrap;
    }
  }
}
