@use '@/styles/variables.scss';

.page .contacts-map {
  @media (max-width: 991.98px) {
    display: flex;
    flex-direction: column;
    background-color: variables.$accentColor;
  }
}

.contacts-map {
  // .contacts-map__map

  .contacts-map__map {
    filter: brightness(85%);

    [class*='copyrights-pane'] {
      display: none !important;
    }

    .ymaps-2-1-79-image {
      filter: brightness(50%);
    }

    @media (max-width: 991.98px) {
      position: static;
      height: 350px;
      order: 2;
    }
  }

  // .contacts-map__container

  .contacts-map__container {
    @media (max-width: 991.98px) {
      order: 1;
    }
  }

  // .contacts-map__body

  .contacts-map__body {
    @media (min-width: 991.98px) {
      background-color: variables.$accentColor;
    }

    @media (max-width: 991.98px) {
      margin: 0;
      max-width: 100%;
      width: 100%;
    }

    @media (max-width: 575.92px) {
      padding: 30px;
    }
    @media (max-width: 374.98px) {
      padding: 30px 15px;
    }
  }
}
