@use '@/styles/variables.scss';

.cart-result-form {
  // .cart-result-form__radio

  &__radio {
    @media (any-hover: hover) {
      &:hover {
        input:checked ~ .radio__checkmark {
          background-color: variables.$hoverAccentColor;
        }

        .radio__body {
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        }
      }
    }

    input {
      &:checked ~ .radio__checkmark {
        // background-color: variables.$hoverAccentColor;
      }

      &:checked ~ .radio__checkmark:after {
        opacity: 1;
        top: -3px;
      }

      &:checked ~ .radio__body {
        background-position: 0 0;
        color: #fff;
        background-color: variables.$accentColor;
      }
    }

    .radio__checkmark {
      box-shadow:
        inset 2px 2px 4px rgba(0, 0, 0, 0.1),
        inset -2px -2px 4px rgba(255, 255, 255, 0.4);

      &:after {
        content: '';
        position: absolute;
        left: 10px;
        top: -15px;
        width: 10px;
        height: 20px;
        border: solid #fff;
        border-width: 0 4px 4px 0;
        transform: rotate(45deg);
        opacity: 0;
        transition:
          opacity 0.25s ease,
          top 0.25s ease;
      }
    }
  }

  // .cart-result-form__checkbox

  &__checkbox {
    @media (any-hover: hover) {
      &:hover {
        .cart-result-form__checkbox-body {
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        }
      }
    }

    input {
      &:checked ~ .cart-result-form__checkbox-checkmark:after {
        opacity: 1;
        top: -3px;
      }

      &:checked ~ .cart-result-form__checkbox-body {
        background-position: 0 0;
        box-shadow: 5px 5px 10px rgba(0, 125, 251, 0.4);
      }
    }
  }

  // .cart-result-form__checkbox-checkmark

  &__checkbox-checkmark {
    box-shadow:
      inset 2px 2px 4px rgba(0, 0, 0, 0.1),
      inset -2px -2px 4px rgba(255, 255, 255, 0.4);

    &:after {
      content: '';
      position: absolute;
      left: 10px;
      top: -15px;
      width: 10px;
      height: 20px;
      border: solid variables.$accentColor;
      border-width: 0 4px 4px 0;
      transform: rotate(45deg);
      opacity: 0;
      transition:
        opacity 0.25s ease,
        top 0.25s ease;
    }
  }
}
