@use '@/styles/variables.scss';

.cart-result-form {
  // .cart-result-form__wrapper

  .cart-result-form__wrapper {
    @media (max-width: 767.98px) {
      grid-template-columns: 1fr;
    }
  }

  // .cart-result-form__person

  .cart-result-form__person {
    @media (max-width: 374.98px) {
      grid-template-columns: 1fr;
    }
  }

  // .cart-result-form__radio

  &__radio {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @media (any-hover: hover) {
      &:hover {
        input ~ .radio__checkmark {
        }

        input:checked ~ .radio__checkmark {
          background-color: variables.$hoverAccentColor;
        }

        .radio__body {
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        }
      }
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .radio__checkmark {
        // background-color: variables.$hoverAccentColor;
      }

      &:checked ~ .radio__checkmark:after {
        opacity: 1;
        top: -3px;
      }

      &:checked ~ .radio__body {
        background-position: 0 0;
        color: #fff;
        background-color: variables.$accentColor;
      }
    }

    .radio__checkmark {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
      height: 22px;
      width: 22px;
      transition: background-color 0.25s ease;
      border-radius: 4px;
      box-shadow:
        inset 2px 2px 4px rgba(0, 0, 0, 0.1),
        inset -2px -2px 4px rgba(255, 255, 255, 0.4);

      &:after {
        content: '';
        position: absolute;
        left: 10px;
        top: -15px;
        width: 10px;
        height: 20px;
        border: solid #fff;
        border-width: 0 4px 4px 0;
        transform: rotate(45deg);
        opacity: 0;
        transition:
          opacity 0.25s ease,
          top 0.25s ease;
      }
    }
    .radio__body {
      line-height: 1.4;
      transition: font-weight 0.25s ease;
      font-weight: bold;
      color: #333;
      background: #fff;
      background-size: 200% 100%;
      background-position: 100% 0;
      padding: 15px;
      padding-left: 52px;
      border-radius: 10px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      transition:
        box-shadow 0.25s ease,
        background 1s ease,
        color 0.25s ease;
    }
  }

  // .cart-result-form__checkbox

  &__checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 130px;
    height: 105px;

    @media (any-hover: hover) {
      &:hover {
        input ~ .cart-result-form__checkbox-checkmark {
        }

        input:checked ~ .cart-result-form__checkbox-checkmark {
          // background-color: variables.$hoverAccentColor;
        }

        .cart-result-form__checkbox-body {
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        }
      }
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .cart-result-form__checkbox-checkmark {
        // background-color: variables.$hoverAccentColor;
      }

      &:checked ~ .cart-result-form__checkbox-checkmark:after {
        opacity: 1;
        top: -3px;
      }

      &:checked ~ .cart-result-form__checkbox-body {
        background-position: 0 0;
        box-shadow: 5px 5px 10px rgba(0, 125, 251, 0.4);
      }
    }

    @media (max-width: 479.98px) {
      width: 105px;
      height: 75px;
    }
  }

  // .cart-result-form__checkbox-checkmark

  &__checkbox-checkmark {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 22px;
    width: 22px;
    transition: background-color 0.25s ease;
    border-radius: 4px;
    box-shadow:
      inset 2px 2px 4px rgba(0, 0, 0, 0.1),
      inset -2px -2px 4px rgba(255, 255, 255, 0.4);
    background-color: #fff;

    &:after {
      content: '';
      position: absolute;
      left: 10px;
      top: -15px;
      width: 10px;
      height: 20px;
      border: solid variables.$accentColor;
      border-width: 0 4px 4px 0;
      transform: rotate(45deg);
      opacity: 0;
      transition:
        opacity 0.25s ease,
        top 0.25s ease;
    }
  }

  // .cart-result-form__checkbox-body

  &__checkbox-body {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
