@use '@/styles/variables.scss';

.page .about {
  @media (max-width: 479.98px) {
    padding: 70px 0;
  }
}

.about {
  // .about__body

  &__body {
    font-size: clamp(1rem, 0.9341rem + 0.2198vw, 1.125rem);
    p {
      line-height: 120%;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  @keyframes move {
    0% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(-10px);
    }
  }

  .squares {
    background-image: radial-gradient(
        variables.$hoverAccentColor 1px,
        transparent 1px
      ),
      radial-gradient(variables.$hoverAccentColor 1px, #171941 1px);
    background-size: 56px 56px;
    background-position:
      0 0,
      28px 28px;
  }
  .square {
    opacity: 0.15;
    width: clamp(12.5rem, 9.2033rem + 10.989vw, 18.75rem);
    height: clamp(12.5rem, 9.2033rem + 10.989vw, 18.75rem);
    position: absolute;
    top: 10%;
    right: 10%;
    background: linear-gradient(
      0deg,
      variables.$hoverAccentColor,
      variables.$hoverAccentColor
    );
    display: block;
    border-radius: 45px;
    animation: move 6s ease infinite;
  }

  .square.square2 {
    opacity: 0.4;
    width: clamp(3.125rem, 1.4766rem + 5.4945vw, 6.25rem);
    height: clamp(3.125rem, 1.4766rem + 5.4945vw, 6.25rem);
    top: 30%;
    right: 47%;
    border-radius: 15px;
    animation: move 6s -4s ease infinite;
  }

  .square.square3 {
    opacity: 0.3;
    width: clamp(6.25rem, 2.9533rem + 10.989vw, 12.5rem);
    height: clamp(6.25rem, 2.9533rem + 10.989vw, 12.5rem);
    top: 50%;
    right: 20%;
    border-radius: 30px;
    animation: move 6s -2s ease infinite;
  }
  .square.square4 {
    opacity: 0.3;
    width: clamp(6.25rem, 2.9533rem + 10.989vw, 12.5rem);
    height: clamp(6.25rem, 2.9533rem + 10.989vw, 12.5rem);
    top: 15%;
    left: 30%;
    border-radius: 30px;
    animation: move 6s -2s ease infinite;

    @media (max-width: 991.98px) {
      left: 5%;
    }
  }
  .square.square5 {
    opacity: 0.3;
    width: clamp(4.375rem, 1.7376rem + 8.7912vw, 9.375rem);
    height: clamp(4.375rem, 1.7376rem + 8.7912vw, 9.375rem);
    top: 60%;
    left: 20%;
    border-radius: 30px;
    animation: move 6s -2s ease infinite;
  }
}
