@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.header .header-body {
  @media (max-width: 991.98px) {
    padding: 15px 0;
  }

  @media (max-width: 374.98px) {
    flex-direction: column;
    gap: 15px;
  }
}

.header-body {
  // .header-body__content

  .header-body__content {
    @media (max-width: 991.98px) {
      justify-content: flex-end;
    }
  }

  // .header-body__info

  .header-body__info {
    @media (max-width: 991.98px) {
      flex-direction: column;
      gap: 10px;
      max-width: 240px;
    }

    @media (max-width: 767.98px) {
      display: none;
    }
  }

  // .header-body__schedule

  .header-body__schedule {
    @media (max-width: 991.98px) {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  // .header-body__schedule-block

  .header-body__schedule-block {
    i {
      @media (max-width: 1199.98px) {
        display: none;
        font-size: 12px;
      }

      @media (max-width: 991.98px) {
        display: inline-block;
      }
    }
  }

  // .header-body__address-block

  .header-body__address-block {
    @media (max-width: 1199.98px) {
      font-size: 12px;
    }

    @media (max-width: 991.98px) {
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  // .header-body__contacts

  .header-body__contacts {
    @media (max-width: 991.98px) {
      flex-direction: column;
      gap: 10px;
    }

    @media (max-width: 767.98px) {
      gap: 15px;
      flex-direction: row;
    }

    @media (max-width: 575.92px) {
      flex-direction: column;
    }

    @media (max-width: 374.98px) {
      flex-direction: row;
    }
  }

  // .header-body__social

  .header-body__social {
    @media (max-width: 991.98px) {
      order: 1;
    }

    @media (max-width: 767.98px) {
      order: 0;
    }
  }

  // .header-body__social-link

  .header-body__social-link {
    @media (max-width: 767.98px) {
      padding: 3px 5px;
    }
  }

  // .header-body__phone

  .header-body__phone {
    a {
      // @include adaptiveValue('font-size', 20, 14, 1);

      @media (max-width: 767.98px) {
        font-size: 18px;
      }

      @media (max-width: 479.98px) {
        font-size: 16px;
      }
    }

    button {
      @media (max-width: 479.98px) {
        font-size: 12px;
      }
    }
  }
}
