@use '@/styles/variables.scss';

.page .category-hero {
  width: calc(75% - 30px);

  @media (max-width: 1199.98px) {
    width: calc(100% - 260px);
  }

  @media (max-width: 991.98px) {
    width: calc(100% - 250px);
  }

  @media (max-width: 767.98px) {
    width: 100%;
    margin-bottom: 100px;
  }
}

.category-hero {
  // .category-hero__body

  &__body {
    padding-top: clamp(6.25rem, 2.9533rem + 10.989vw, 12.5rem);
    padding-bottom: clamp(6.25rem, 2.9533rem + 10.989vw, 12.5rem);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        100deg,
        rgba(0, 0, 0, 0.1) 0%,
        #ebebeb 55.9%,
        #f8f8f8 100%
      );
      z-index: 1;
    }
    // color: #f8f8f8;
  }

  // .category-hero__title

  &__title {
    font-size: clamp(1.625rem, 1.0975rem + 1.7582vw, 2.625rem);
  }
}
