@use '@/styles/variables.scss';

.page .category-hero {
  width: calc(75% - 30px);

  @media (max-width: 1199.98px) {
    width: calc(100% - 260px);
  }

  @media (max-width: 991.98px) {
    width: calc(100% - 250px);
  }

  @media (max-width: 767.98px) {
    width: 100%;
  }
}

.category-hero {
  // .category-hero__body

  &__body {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        100deg,
        rgba(0, 0, 0, 0.1) 0%,
        #ebebeb 55.9%,
        #f8f8f8 100%
      );
      z-index: 1;
    }
    // color: #f8f8f8;
  }

  // .category-hero__title

  &__title {
    font-size: clamp(1.375rem, 1.132rem + 1.215vw, 2.1875rem);
  }
}
