.product-page-card {
  // .product-page-card__title

  &__title {
    font-size: clamp(1.5rem, 1.3022rem + 0.6593vw, 1.875rem);
  }

  // .product-page-card__button-cart

  &__button-cart {
    &.added {
      span {
        visibility: visible;
        opacity: 1;
        z-index: 1;
      }
    }
  }
}
