@use '@/styles/variables.scss';

.product-page-tabs {
  margin-bottom: 30px;

  // .product-page-tabs__caption-wrapper

  &__caption-wrapper {
    margin-bottom: 40px;
  }

  // .product-page-tabs__caption-list

  &__caption-list {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c3c3c3;
    gap: 20px;
    overflow: hidden;

    // @media (max-width: 479.98px) {
    // 	display: grid;
    // 	grid-template-columns: repeat(3, 1fr);
    // 	gap: 10px;

    // 	padding-left: 0;
    // 	justify-content: center;
    // }
  }

  // .product-page-tabs__caption-scrollbar

  &__caption-scrollbar {
    position: relative;
    background-color: #bcbcbc;
    height: 5px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    // margin-top: 20px;
  }

  // .product-page-tabs__caption-scrollbar-drag

  &__caption-scrollbar-drag {
    position: absolute;
    left: 0;
    top: 0;
    height: 5px;
    background-color: #494949;
  }

  // .product-page-tabs__caption

  &__caption {
    position: relative;
    padding: 20px 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;

    &.active {
      color: variables.$accentColor;

      &::before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% + 30px);
        height: 1px;
        background-color: variables.$accentColor;
      }
    }

    @media (max-width: 479.98px) {
      font-size: 18px;
      padding: 20px 5px;
    }
  }

  // .product-page-tabs__content

  &__content {
  }

  // .product-page-tabs__body

  &__body {
    display: none;

    &.active {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  // .product-page-tabs__description

  &__description {
    line-height: 150%;
  }

  // .product-page-tabs__reviews

  &__reviews {
  }

  // .product-page-tabs__delivery

  &__delivery {
  }

  // .product-page-tabs__delivery-block

  &__delivery-block {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  // .product-page-tabs__delivery-title

  &__delivery-title {
    font-weight: 500;
    margin-bottom: 20px;
  }

  // .product-page-tabs__delivery-text

  &__delivery-text {
    line-height: 130%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  // .product-page-tabs__reviews-title

  &__reviews-title {
    @media (max-width: 479.98px) {
      font-size: 20px;
    }
  }

  // .product-page-tabs__reviews-list

  &__reviews-list {
  }

  // .product-page-tabs__reviews-not

  &__reviews-not {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin: 50px 0;
  }

  // .product-page-tabs__reviews-item

  &__reviews-item {
    margin-bottom: 25px;
    background: rgb(250, 250, 250);
    padding: 30px;
    border-radius: variables.$radius;

    @media (max-width: 479.98px) {
      padding: 15px;
    }
  }

  // .product-page-tabs__reviews-head

  &__reviews-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 15px;
    margin-bottom: 20px;

    border-bottom: 1px solid rgb(241, 239, 242);
  }

  // .product-page-tabs__reviews-profile

  &__reviews-profile {
    display: flex;
    align-items: center;
  }

  // .product-page-tabs__reviews-avatar

  &__reviews-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background: #d9dde7;
    border-radius: 50%;
    img {
      width: 25px;
      height: 25px;
    }
  }

  // .product-page-tabs__reviews-name

  &__reviews-name {
    font-size: 18px;
    font-weight: 500;
  }

  // .product-page-tabs__reviews-stars

  &__reviews-stars {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 20px;
      height: 20px;
    }

    span {
      font-weight: 500;
    }

    @media (max-width: 479.98px) {
      gap: 5px;
    }
  }

  // .product-page-tabs__reviews-body

  &__reviews-body {
  }

  // .product-page-tabs__reviews-point

  &__reviews-point {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  // .product-page-tabs__reviews-point-title

  &__reviews-point-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
  }

  // .product-page-tabs__reviews-point-text

  &__reviews-point-text {
    line-height: 130%;
  }
}
