@use '@/styles/variables.scss';

.modal-callback {
  @media (max-width: 650px) {
    .modal__close {
      top: 5px;
      right: 5px;

      svg {
        fill: #000;
        width: 35px;
        height: 35px;
      }
    }
  }
}
