@use '@/styles/variables.scss';

.modal-callback {
  @media (max-width: 650px) {
    .modal__close {
      top: 5px;
      right: 5px;

      svg {
        fill: #000;
        width: 35px;
        height: 35px;
      }
    }
  }

  // .modal-callback__title

  .modal-callback__title {
    font-size: clamp(1.625rem, 1.2953rem + 1.0989vw, 2.25rem);
  }
}
