@use '@/styles/variables.scss';

.breadCrumbs__container {
  @media (max-width: 479.98px) {
    gap: 10px;
  }
}

.breadCrumbs.fixed-block {
  position: absolute;
  top: 30px;
  margin-top: 0;
}

.breadCrumbsLink {
  &:not(:last-child) {
    margin-right: 1.25rem;

    @media (max-width: 767.98px) {
      margin-bottom: 5px;
    }
  }
  @media (any-hover: hover) {
    &:hover {
      svg {
        fill: variables.$mainColor;
      }
    }
  }
}

.breadCrumbsLink:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  display: inline-block;
  background-image: url('/img/icons/arrow.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  margin: 0 8px;
}
