@use '@/styles/variables.scss';

.hero-main-slider {
  .swiper-wrapper {
    display: inline-flex;
    height: 100%;
  }

  // .hero__pagination

  .hero-main-slider__pagination {
    .swiper-pagination-bullet {
      border-radius: 50%;

      svg {
        width: 40px;
        height: 40px;
      }

      .circle1 {
        stroke-dasharray: 152px;
        stroke-dashoffset: 152px;
      }

      &.swiper-pagination-bullet-active {
        .circle1 {
          animation: sliderPagination 11s linear forwards;
          outline: 1px solid #007dfb;
          border-radius: 50%;
        }
      }

      @keyframes sliderPagination {
        100% {
          stroke-dashoffset: 0;
        }
      }
    }
  }
}
