@use '@/styles/variables.scss';

.page .subhero {
  @media (max-width: 991.98px) {
    padding: 30px 0;
  }
}

.subhero {
  // .subhero__list

  .subhero__list {
    @media (max-width: 991.98px) {
      gap: 10px;
    }

    @media (max-width: 767.98px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 479.98px) {
      grid-template-columns: 1fr;
    }
  }

  // .subhero__item-head

  .subhero__item-head {
    border-bottom: 1px solid variables.$accentColor;

    @media (max-width: 991.98px) {
      font-size: 14px;
    }

    @media (max-width: 479.98px) {
      flex-direction: column;
    }
  }

  // .subhero__item-text

  .subhero__item-text {
    @media (max-width: 991.98px) {
      font-size: 14px;
    }

    @media (max-width: 479.98px) {
      text-align: center;
    }
  }
}
